/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 1

   History Style Sheet
   Author: Juozas Kripas
   Date:   2/20/2016

   Filename:         history.css
   Supporting Files: 


Setting up Blocks*/
header, section, nav{
    display: block;
}

/*Resetting padding space for every element to 0px*/
*{
    padding: 0px;
}

/*Header element style rules*/
header{
    background-color: rgb(51,51,51);
    text-align: center;
    width: 55em;
}
header img{
    height: 4em;
}

/*Navigation Menu style rules*/
nav {
    float: left;
    width: 15em;
    background-color: rgb(51,51,51);
}
nav ul li{
    font-family: 'Century Gothic', sans-serif;
    font-size: 0.7em;
    list-style-type: none;
    margin: 0 0 1.2em 1em;
    height: 1.4em;
}
nav ul li a{
    color: rgb(212,212,212);
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
}

/*Section style rules*/
#speech{
    background-color: rgb(212,212,212);
    width: 40em;
    float: left;
    font-family: 'Paladino Linotype', 'Book Antiqua', Palatino, serif;
}
#speech h1{
    background-color: rgb(51,51,51);
    color: rgb(212,212,212);
    font-size: 2em;
    text-align: center;
}
#speech p{
    font-size: 0.9em;
    margin: 1em;
}
/*Creating Dropcap effect on the first letter of the first paragraph*/
#speech p:first-of-type:first-letter{
    float: left;
    font-size: 4em;
    line-height: 0.8em;
    margin-right: 0.3em;
    padding: 0 0.2em 0.2em 0;
    border-color: black;
    border-style: solid;
    /*border: 0px .02em 0.02em 0;*/
    border-left: 0.02em;
    border-top: 0.02em;
}
 section p:first-of-type:first-line {
    text-transform: uppercase;
}