/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 1

   History Style Sheet
   Author: Juozas Kripas
   Date:   2/20/2016

   Filename:         history.css
   Supporting Files: 

*/
