/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 1

   History Style Sheet
   Author: Juozas Kripas
   Date:   2/20/2016

   Filename:         history.css
   Supporting Files: 


Setting up Blocks*/
header, section, nav{
    display: block;
}

/*Resetting padding space for every element to 0px*/
*{
    padding: 0px;
}

/*Header element style rules*/
header{
    background-color: rgb(51,51,51);
    text-align: center;
    width: 55em;
}
header img{
    height: 4em;
}

/*Navigation Menu style rules*/
nav {
    float: left;
    width: 15em;
    background-color: rgb(51,51,51);
}
nav ul li{
    font-family: 'Century Gothic', sans-serif;
    font-size: 0.7em;
    list-style-type: none;
    margin: 0 0 1.2em 1em;
    height: 1.4em;
}
nav ul li a{
    color: rgb(212,212,212);
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
}